@charset "utf-8";
body {margin: 0; padding: 0; width: 100%; overflow-x: hidden;}
a{text-decoration: none; color: #000;}
*,*::after,*::before{box-sizing: border-box;}

/* 배경 띠라인 */
/* .border_left{
    margin-left: 150px;
}
.border_right{
    right: 150px;
}
.border_left .border_right{
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: red;
    z-index: -200;
} */
/* 상단 띠배너 부분 */
.h_banner{
    width: 100%;
    height: 43px;
    line-height: 40px;
    background: #000;
    text-align: center;
    position: fixed;
    /* box-shadow: 0px 10px 50px rgb(59, 59, 59); */
}
.header_banner a{
    color: #fff;
    font-size: 0.8rem;
    height: 20px;
}

/* 상단 슬라이드 텍스트 부분 */
.header_text{
    width: 100%;
    display: flex;
    justify-content: center;
}
.num_text{
    display: flex;
    justify-content: center;
    animation: num_text 4s infinite linear;
    position: fixed;
    background: #fff;
    height: 130px;
    margin-top: 43px;
}
.num_text li{
    display: flex;
    justify-content: space-between;
    padding: 3px 90px;
    font-size: 85px;
    font-weight: bold;
}
.num_text a{
    text-decoration: none;
    color: #000;
}

@keyframes num_text {
    0% { margin-right: 1500px;}
    100% {margin-right: -0px;}
    0% {margin-right: 1500px;}
}

/* 상단 메뉴바 */
.page-header{
    position: absolute;
    width: 100%;
    top: 173px;
    min-width: 960px;
    background-color: #dddddd9a;
    box-shadow: 0px 5px 30px rgb(209, 209, 209);
    position: fixed;
}
/* .page-header.sticky {
    position: fixed; 
    top: 0px;
  } */
.navbar1 h1{
    width: 200px;
    float: left;
}
.navbar1 h1 img{
    width: 180px;
    padding: 15px 0 0 15px;
}  
  .navi {
    height:50px;
    width:100%;
    margin:0 auto;
}
  .navi > li {
    float:left;
    width:160px;
    position:relative;
}
  .navi > li a {
    display:block;
    line-height:50px;
    color:#000;
  /* font-weight:bold; */
  text-align:center;
  text-decoration: none; 
  font-size: 0.9rem;
}
  .navi > li:hover >a {
    background:#000000;
    color:#fff;
}
  .navi > li .sub {
    position:absolute;
    left:0;
    top:50px;
    display:none;
    /*width:100%;*/
   background:#f8f8f8c0;
   z-index:9999;
   width:160px;
}
  /* .navi > li:hover .sub {display:block;} */
  .navi .sub li a {
    display:block;
    height:40px;
    line-height:40px;
    padding:0 15px;
  text-decoration:none;
  color:#4d4100;
}
  .navi .sub li:hover a {
    color:#cab181;
    /* font-weight: bold; */
}
/* 우측 메뉴바 */
.navi2 li{
    /* height:50px; */
    width:160px;
    /* margin:0 auto; */
    float: right;
    /* text-decoration: none;
    text-align:center;
    font-size: 0.9rem;
    color: #000; */
    top: 0;
}
#top_login a{
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
    text-align:center;
}

/* 메인 이미지 부분 */
.main {
    margin-top: 173px;
    width: 100%;
    margin-bottom: 300px;
}
.main img{
    width: 100%;
}

/* women slide 부분 */
.slide_box{
    width: 100%;
    /* border: 1px solid red; */
    z-index: -9999;
}

.slide_women{
    width: 50%;
    float: left;
    /* border: 1px solid blue; */
}
.slide_women img{
    width: 100%;
}
.slide_women_box{
    width: 50%;
    float: right;
    /* border: 1px solid red; */
    padding: 220px 0 225px 0;
}
.slide_women_box h1{
    text-align: center;
    font-weight: normal;
}
.slide_women_item{
    width: 444px;
    margin:10px auto;
    z-index: -9999;
}
.slide_women_item li{
    text-align: center;
}
.slide_women_item img{
    margin: 10px 0 50px 0;
}
.slide_women_item span{
    display: block;
}
.slide_women_item a{
    text-decoration: none;
    color: #000;
}

/* 마우스 호버 2 */
/* .slide_women{
    background: #fff;
}
.slide_women img{
    opacity: 1; transition: .6s ease-in-out;

}
.slide_women:hover img{
    opacity: 0.5;
} */
.name{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* slide men 부분 */
.slide_men{
    width: 50%;
    float: right;
    /* border: 1px solid blue; */
}
.slide_men img{
    width: 100%;
}
.slide_men_box{
    width: 50%;
    float: left;
    /* border: 1px solid red; */
    padding: 230px 0 230px 0;
}
.slide_men_box h1{
    text-align: center;
    font-weight: normal;
}
.slide_men_item{
    width: 444px;
    margin:10px auto;
    z-index: -9999;
}
.slide_men_item li{
    text-align: center;
}
.slide_men_item img{
    margin: 20px 0 50px 0;
}
.slide_men_item span{
    display: block;
}
.slide_men_item a{
    text-decoration: none;
    color: #000;
}

.slick-prev {display: none;}
.slick-next {display: none;}
.slide_box button.slick-prev {
    left: -3.5rem;
    font-size: 0;
    color: #000;
    z-index: 9999;
    background: none;
    border: none;
}
.slide_box button.slick-next {
    right: -3.5rem;
    font-size: 0;
    color: #000;
    z-index: 9999;
    background: none;
    border: none;
}
.slick-dots {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.slick-dots li {
    width: 20px;
    height: 20px;
    display: inline-block;
}            
.slick-dots >li >button{
    font-size: 0;
    color: #fff;
    width: 0px;
    height: 0px;
    border: none;
    background: #d8d8d8;
    border-radius: 100%;
}
.slick-dots >li.slick-active button {
    background: #3d3d3d;
} 

.banner{
    margin-top: 300px;
    margin-bottom: 300px;
    /* background: url(../img/img7.jpg) no-repeat 0 center fixed;
    background-size: 100%;
    width: 100%;
    height: 800px;
    border: 1px solid red; */
}

/* slide women 2 */
.slide2_box{
    width: 100%;
    position: relative;
    /* border: 1px solid red; */
    z-index: -9999;
}

.slide_women2{
    width: 50%;
    float: left;
    /* border: 1px solid blue; */
    text-align: center;
}
.slide_women2 img{
    width: 70%;
}
.slide_women_box2{
    width: 50%;
    float: right;
    /* border: 1px solid red; */
    padding: 60px 0 130px 0;
}
.slide_women_box2 h1{
    text-align: center;
    font-weight: normal;
}
.slide_women_item2{
    width: 600px;
    margin:10px auto;
    z-index: -9999;

}
.slide_women_item2 li{
    text-align: center;
}
.slide_women_item2 img{
    margin: 20px 0 50px 0;

}
.slide_women_item2 span{
    display: block;
}
.slide_women_item2 a{
    text-decoration: none;
    color: #000;
}
.slide2_box button.slick-next {
    right: -3.5rem;
    font-size: 0;
    color: #000;
    z-index: 9999;
    background: none;
    border: none;
}
.slide2_box button.slick-prev {
    left: -3.5rem;
    font-size: 0;
    color: #000;
    z-index: 9999;
    background: none;
    border: none;
}



/* .grid_content2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
}

.item6{
    position: relative;
    text-align: center;
    margin: 150px 250px 200px 100px;
    z-index: -9;
}
.item6 h2{
    font-weight: normal;
} */

.banner1{
    margin-top: 300px;
    background: url(../img/img9.jpg) no-repeat 0 center fixed;
    /* background-size: 100%; */
    width: 100%;
    height: 1000px;
}

footer{
    width: 100%;
    height: 360px;
    text-align: center;
    padding: 120px;
}
footer h1{
    margin-bottom: 5px;
    font-family: 'Nanum Myeongjo', serif;

}
footer a{
    text-decoration: none;
    color: #000;
}
footer p{
    font-size: 0.7rem;
    padding: 2px;
}
.footer_text p{
    display: inline-block;
    padding: 12px;
    margin-bottom: 18px;
}
.footer_text a{
    font-size: 15px;
}



/* pc */
/* @media screen and (min-width:500px) {
    .content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    } 
}
@media screen and (min-width:800px) {
    .content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    } 
}
@media screen and (min-width:1920px) {
    .content{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    } 
} */
